<form [formGroup]="form" class="grid">
  @for (filter of filters; track $index)  {
    <div class="{{filter.style}} p-fluid">
      @if (filter.type === 'text') {
        <label [for]="filter.control" class="font-bold">{{ filter.label }}</label>
        <input
          [id]="filter.control"
          type="text"
          (input)="eventFilter()"
          pInputText
          class="w-full"
          [formControlName]="filter.control"
          autocomplete="off"/>
      }
      @if (filter.type === 'select') {
        <span class="font-bold">{{ filter.label }}</span>
        <p-dropdown
          (onChange)="eventFilter()"
          [options]="filter?.options"
          [showClear]="true"
          styleClass="w-full"
          [filter]="true"
          optionLabel="label"
          optionValue="value"
          filterBy="label"
          appendTo="body"
          [formControlName]="filter.control"
        ></p-dropdown>
      }
      @if (filter.type === 'chip') {
        <label [for]="filter.control" class="font-bold">{{ filter.label }}</label>
        <p-chips (ngModelChange)="eventFilter()" [inputId]="filter.control" [formControlName]="filter.control" separator=","></p-chips>
      }
      @if (filter.type === 'number') {
        <label [for]="filter.control" class="font-bold">{{ filter.label }}</label>
        <p-inputNumber [inputId]="filter.control" (onInput)="eventFilter()" [formControlName]="filter.control"></p-inputNumber>
      }
    </div>
  }
</form>
