<form [formGroup]="form" class="grid m-0">
  <div class="col-12 md:col-6">
    <label for="nombre" class="required font-bold">Nombre</label>
    <input id="nombre" type="text" pInputText class="w-full disabled-input" formControlName="nombre"/>
    @if (form.getError('required', 'nombre') && form.value.nombre !== null) {
      <small id="nombre-help">El campo del nombre es requerido.</small>
    }
  </div>
  <div class="col-12 md:col-6">
    <label for="ruta" class="required font-bold">Ruta</label>
    <input id="ruta" type="text" pInputText class="w-full disabled-input" formControlName="ruta"/>
    @if (form.getError('required', 'ruta') && form.value.ruta !== null) {
      <small id="ruta-help">El campo de la ruta es requerido.</small>
    }
  </div>
  <div class="col-12 md:col-2">
    <label for="orden" class="required font-bold">Orden</label>
    <p-inputNumber inputId="integeronly" formControlName="orden"></p-inputNumber>
    @if (form.getError('required', 'orden') && form.value.orden !== null) {
      <small id="orden-help">El campo del orden es requerido.</small>
    }
    @if (form.getError('min', 'orden') && form.value.orden !== null) {
      <small id="orden-min">El valor debe ser mayor a 0.</small>
    }
  </div>
  <div class="col-12 md:col-5">
    <label for="icon" class="required font-bold">Icono</label>
    <p-dropdown
      id="icon"
      [options]="optionIcon"
      [showClear]="true"
      [filter]="true"
      optionLabel="label"
      optionValue="value"
      filterBy="label"
      styleClass="w-full"
      formControlName="icon"
      panelStyleClass="fixed"
    >
      <ng-template pTemplate="selectedItem" let-icon>
        @if(icon) {
          <div class="flex align-items-center gap-2">
              <i [class]="icon.value"></i>
              <div>{{ icon.label }}</div>
          </div>
        }
      </ng-template>
      <ng-template let-icon pTemplate="item">
          <div class="flex align-items-center gap-2">
            <i [class]="icon.value"></i>
            <div>{{ icon.label }}</div>
          </div>
      </ng-template>
    </p-dropdown>
    @if (form.getError('required', 'icon') && form.value.icon !== null) {
      <small id="icon-help">El campo del icono es requerido.</small>
    }
  </div>
  <div class="col-12 md:col-5">
    <label for="tipo" class="required font-bold">Tipo</label>
    <p-dropdown id="tipo" [options]="tipo" [showClear]="true" styleClass="w-full" formControlName="tipo" panelStyleClass="fixed"></p-dropdown>
    @if (form.getError('required', 'tipo') && form.value.icon !== null) {
      <small id="tipo-help">El campo del tipo es requerido.</small>
    }
  </div>
  @if (this.form.value.tipo === 'MENU') {
    <div class="col-12">
      <label for="idAgrupador" class="required font-bold">Grupo de Menu</label>
      <p-dropdown id="idAgrupador" [options]="grupo" [showClear]="true" styleClass="w-full" formControlName="idAgrupador" panelStyleClass="fixed"></p-dropdown>
      @if (form.getError('required', 'idAgrupador') && form.value.idAgrupador!== null) {
        <small id="idAgrupador-help">El campo del grupo de menu es requerido.</small>
      }
    </div>
  }
</form>
<div class="flex justify-end">
  <div class="p-1">
    <p-button label="Cancel" icon="pi pi-times" severity="danger" [disabled]="loading" (click)="eventCancel()"></p-button>
  </div>
  <div class="p-1">
    <p-button label="Guarda" icon="pi pi-save" severity="success" [disabled]="loading" (click)="eventSave()"></p-button>
  </div>
</div>
