<form [formGroup]="form" class="grid m-0">
  <div class="col-12">
      <label for="usuario" class="required font-bold">Usuario</label>
      <p-inputGroup>
        <input id="usuario" type="text" (input)="action = false" pInputText class="w-full disabled-input" formControlName="usuario"/>
        @if (!value?.id) {
          <button type="button" pButton icon="pi pi-search" class="p-button-warning" (click)="searchUsuario()"></button>
        }
      </p-inputGroup>
      @if (form.getError('required', 'usuario') && form.value.usuario !== null) {
        <small id="usuario-help">El campo del usuario es requerido.</small>
      }
  </div>
  <div class="col-12 md:col-6">
      <span class="required font-bold">Unidad</span>
      <p-dropdown [options]="unidades" [filter]="true" filterBy="label" optionLabel="label" optionValue="value" [showClear]="true" styleClass="w-full" formControlName="idUnidad" styleClass="max-w-full" appendTo="body"></p-dropdown>
      @if (form.getError('required', 'idUnidad')) {
        <small id="unidad-help">El campo de la unidad es requerido.</small>
      }
  </div>
  <div class="col-12 md:col-6">
      <span class="required font-bold">Rol</span>
      <p-dropdown [options]="roles" [showClear]="true" [filter]="true" filterBy="label" optionLabel="label" optionValue="value"  styleClass="w-full" formControlName="idRol" appendTo="body"></p-dropdown>
      @if (form.getError('required', 'idRol')) {
        <small id="rol-help">El campo del rol es requerido.</small>
      }
  </div>
  <div class="col-12 md:col-6">
      <label for="nombres" class="required font-bold">Nombre</label>
      <input id="nombres" type="text" pInputText class="w-full disabled-input" formControlName="nombres"/>
  </div>
  <div class="col-12 md:col-6">
      <label for="codigoLdap" class="required font-bold">Codigo</label>
      <input id="codigoLdap" type="text" pInputText class="w-full disabled-input" formControlName="codigoLdap"/>
  </div>
  <div class="col-12 md:col-6">
      <label for="primerApellido" class="required font-bold">Primer Apellido</label>
      <input id="primerApellido" type="text" pInputText class="w-full disabled-input" formControlName="primerApellido"/>
  </div>
  <div class="col-12 md:col-6">
      <label for="segundoApellido" class="required font-bold">Segundo Apellido</label>
      <input id="segundoApellido" type="text" pInputText class="w-full disabled-input" formControlName="segundoApellido"/>
  </div>
  <div class="col-12">
      <label for="correo" class="required font-bold">Correo Institucional</label>
      <input id="correo" type="text" pInputText class="w-full disabled-input" formControlName="correo"/>
  </div>
</form>
<div class="flex justify-end">
  <div class="p-1">
    <p-button label="Cancelar" icon="pi pi-times" severity="danger" [disabled]="loading" (click)="eventCancel()"></p-button>
  </div>
  <div class="p-1">
    <p-button label="Guarda" icon="pi pi-save" severity="success" [disabled]="loading" (click)="eventSave()"></p-button>
  </div>
</div>
